<div>

  {{#if products}}
    <h1>
      Hola
      {{owner.name}}, este es tu carrito actual</h1>

    <div class="container">
      {{#each products}}
        <div class="card">
          <img src={{this.Imgurl}} alt="" style="" />
          <h4><b> {{this.name}} </b></h4>
          <p class="price"> Precio ${{this.price}}</p>
        </div>

      {{/each}}
    </div>
    <a href="/productos">Sigue comprando</a>
  {{else}}
    <h1>Aun no hay productos en tu carrito</h1>
    <a href="/productos">Comienza a comprar</a>
  {{/if}}

</div>