<div>

  {{#if products}}
    <h1>
      Hi
      {{owner.name}}, this is your current cart</h1>

    <div class="container">
      {{#each products}}
        <div class="card">
          <img src={{this.Imgurl}} alt="" style="" />
          <h4><b> {{this.name}} </b></h4>
          <p class="price"> Price ${{this.price}}</p>
        </div>

      {{/each}}
    </div>
    <button id="purchaseBtn">Buy</button>
    <a href="/products">Go Shopping</a>
  {{else}}
    <h1>Cart empty</h1>
    <a href="/products">Start shopping</a>
  {{/if}}

</div>
<script src="/js/cart.js"></script>