{{! <h1>Agrega el producto</h1>
<form id="productForm" class="container d-flex flex-column">
  <label>Nombre</label>
  <input name="name" />
  <label>Tipo (Blanco o Tinto)</label>
  <input name="type" />
  <label>Descripcion</label>
  <input name="description" />
  <label>Precio</label>
  <input name="price" />
  <label>Stock</label>
  <input name="stock" />
  <label>Imagen del producto</label>
  <input type="file" name="Imgurl" />
  <input type="submit" />
</form>

<script src="./js/product.js"></script> }}
<h1>
  Bienvenido:
  {{user.name}}
</h1>
{{#if product}}
  <div class="container">
    {{#each product}}
      <div class="productsCard">
        <img src={{Imgurl}} alt="" style="" />
        <h4><b> {{name}} </b></h4>
        <p>Descripcion {{description}}</p>
        <p> Precio ${{price}}</p>
        <p>Stock: {{stock}}</p>
        {{#if isValidToAdd}}
          <a href="http://localhost:8080/api/carts/products/{{_id}}"><button
            >Agregar al carrito</button></a>
        {{else}}
          <button disabled>Ya está en el carrito</button>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{!-- <div>
    {{#if paginationData.hasPrevPage}}
      <a
        href="http://localhost:8080/productos?page={{paginationData.prevPage}}"
      ><button>Anterior</button></a>
    {{/if}}
    <p>{{paginationData.page}}</p>
    {{#if paginationData.hasNextPage}}
      <a
        href="http://localhost:8080/productos?page={{paginationData.nextPage}}"
      ><button>Siguiente</button></a>
    {{/if}}
  </div> --}}
  <div>
    {{#if paginationData.hasPrevPage}}
      <a
        href="http://localhost:8080/productos?page={{paginationData.prevPage}}"
      ><button>Anterior</button></a>
    {{/if}}
    <p>{{paginationData.page}}</p>
    {{#if paginationData.hasNextPage}}
      <a
        href="http://localhost:8080/productos?page={{paginationData.nextPage}}"
      ><button>Siguiente</button></a>
    {{/if}}
  </div>
{{else}}
  <h1>No hay productos por mostrar</h1>
{{/if}}

<script src="./js/cart.js"></script>